-r ./requirements.in

# Packaging
pur == 7.3.3
pip-tools==7.4.1

# Linting
pre-commit==4.1.0
black==25.1.0
ruff==0.9.7

# Testing
pytest-sugar==1.0.0
termcolor==3.0.1

# Debugging
django-debug-toolbar==5.0.1
django-extensions==3.2.3
